<!-- Support /new_picture with this form -->
<!-- that will submit a url to the index -->
<!-- action in the controller. -->
<!-- Use the new url to display the photo -->
<!-- along with the list of photos. -->

<!-- HINT: Try submitting this form! -->
<!-- How can you find out what was typed in? -->
<!-- Can you add that url to the @picture_urls array? -->

<form action="/pictures" method="post">
  <label for="url_input">URL:</label>
  <input type="text" name="url" id="url_input">
  
  <label for="title_input">Title:</label>
  <input type="text" name="title" id="title_input">
  
  <input type="submit">
  <a href="/pictures">or Cancel</a>
</form>